@model DemoMVC.Models.DaiLy

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DaiLy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaDaiLy" class="control-label"></label>
                <input asp-for="MaDaiLy" class="form-control" />
                <span asp-validation-for="MaDaiLy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenDaiLy" class="control-label"></label>
                <input asp-for="TenDaiLy" class="form-control" />
                <span asp-validation-for="TenDaiLy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiDaiDien" class="control-label"></label>
                <input asp-for="NguoiDaiDien" class="form-control" />
                <span asp-validation-for="NguoiDaiDien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienThoai" class="control-label"></label>
                <input asp-for="DienThoai" class="form-control" />
                <span asp-validation-for="DienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaHTPP" class="control-label"></label>
                <input asp-for="MaHTPP" class="form-control" />
                <span asp-validation-for="MaHTPP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
